.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #fff;
  color: #00cdbc;
  border: 1px solid black;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #7f14b0;
  color: #fff;
}
